
<div class="main-div">
    <div class="bookHead">
        <p class="home" routerLink="/dashboard/displaybook">Home / </p>
        <p style="color: black; font-weight: 500;">My Wishlist</p>
    </div>

    <div class="booksOuterDiv" >
        <div class="wishlistcount">
            <span class="wishlistfont" >My Wishlist</span>
        </div>
        <div class="booksInfo">
            <div class="book" >
                <div class="image">
                    <img style="width: 70px;  height: 90px;" src="../../../assets/pic-1.png">
                </div>
                <div class="bookData">
                    <span class="bookName">Name</span>
                    <span class="authorName">Auther</span>
                    <div>
                        <span class="discountPrice">Rs.670</span>
                        <span class="originalPrice">Rs.987</span>
                    </div>
                </div>
            </div>   
            <div class="delete">
                <img class="deletebutton" src="../../../assets/delete_FILL0_wght400_GRAD0_opsz48.svg" >  
            </div>
        </div>
    </div>
</div>
