<form  [formGroup]="loginForm" (ngSubmit)="Onlogin()">
    <div class="box">
  
      <div class="container">
        <div>
          <img src="../../../assets/component.png" />
        </div>
        <div class="title">
          <span class="online">ONLINE BOOK SHOPPING</span>
        </div>
      </div>
  
      <div class="containerbox">
        <div class="first">
          <button class="but"><h1>LOGIN</h1></button>
          <button class="up" routerLink="/signup"><h1>SIGNUP</h1></button>
        </div>
        <div class="Input">
            <span class="heading1">Email id</span>
            <mat-form-field appearance="outline">
                <input matInput formControlName="email" type="email" />
            </mat-form-field>
        </div>
        <div class="Input">
            <span class="heading1">Password</span>
            <mat-form-field appearance="outline">
                <input matInput formControlName="password" type="password" />
            </mat-form-field>
        </div>
        <div id="loginbtn">
          <button mat-raised-button routerLink="/dashboard/displaybook">Login</button>
        </div>
        <div>
          <h3 style="text-align: center; margin: 10px;">
            ----------------OR----------------
          </h3>
        </div>
  
        <div class="fifth">
          <button class="face">Facebook</button>
          <button class="google">Google</button>
        </div>
      </div>
    </div>
  </form>
