<form [formGroup]="signupForm" (ngSubmit)="Onsignup()">
    <div class="box">
        <div class="container">
            <div>
                <img src="../../../assets/component.png" />
            </div>
            <div>
                <h3 id="content">ONLINE BOOK SHOPPING</h3>
            </div>
        </div>

        <div class="container1">
            <div class="first">
                <button class="but" routerLink="/login"><h1>LOGIN</h1></button>
                <button class="up" ><h1>SIGNUP</h1></button>
              </div>
            <div class="Input">
                <span class="heading1">Full Name</span>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="fullName" type="text" />
                </mat-form-field>

            </div>
            <div class="Input">
                <span class="heading1">Email id</span>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="email" type="email" />
                </mat-form-field>
            </div>
            <div class="Input">
                <span class="heading1">Password</span>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="password" type="password" />
                </mat-form-field>
            </div>
            <div class="Input">
                <span class="heading1">Mobile Number </span>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="phone" type="number" />
                </mat-form-field>
            </div>
            <div id="loginbtn">
                <button>Signup</button>
            </div>
        </div>
    </div>
</form>