<form  [formGroup]="signupForm" (ngSubmit)="Onsignup()">
    <div class="box">
        <div class="container">
            <div>
                <img src="../../../assets/component.png" />
            </div>
            <div class="title">
                <span class="online">ONLINE BOOK SHOPPING</span>
            </div>
        </div>

        <div class="containerbox">
            <div class="first">
                <button class="but">LOGIN</button>
                <button class="up">SIGNUP</button>
            </div>
            <div class="Input">
                <span class="heading1">Full Name</span>
                <mat-form-field appearance="outline" style="margin: -20px;">
                    <input matInput formControlName="fullName" type="text" />
                </mat-form-field>
            </div>
            <div class="Input">
                <span class="heading1">Email id</span>
                <mat-form-field appearance="outline" style="margin: -20px;">
                    <input matInput formControlName="email" type="email" />
                </mat-form-field>
            </div>
            <div class="Input">
                <span class="heading1">Password</span>
                <mat-form-field appearance="outline" style="margin: -20px;">
                    <input matInput formControlName="password" type="password" />
                </mat-form-field>
            </div>
            <div class="Input">
                <span class="heading1">Mobile Number </span>
                <mat-form-field appearance="outline" style="margin: -20px;">
                    <input matInput formControlName="phone" type="number" />
                </mat-form-field>
            </div>

            <div id="loginbtn">
                <button>Signup</button>
            </div>
        </div>
    </div>
</form>