<div class="header">
    <mat-toolbar class="header-inner">
        <div class="header-firstInner">
            <div class="logo">
                <img src="../../../assets/book.png">
            </div>
            <div>
                <span class="text">Bookstore</span>
            </div>

            <div class="search">
                <img src="../../../assets/Search-icon.svg">
                <input class="search-input" type="text" placeholder="Search..." (keyup)="searchBook($event)">
            </div>
        </div>
        <div class="profile-cart">
            <div class="icons" [matMenuTriggerFor]="menu">
                <img class="iconImage" src="../../../assets/person_FILL0_wght400_GRAD0_opsz48.svg">
                <p style="margin-left: 15px;">Profile</p>
            </div>
            <mat-menu #menu="matMenu">
                <h1>Welcome</h1>
                <h5>To acsess account and manage orders</h5>
                <button
                    style=" border: solid brown 1px; width: 130px; display: flex; margin-left: 10px; color: brown; background-color: white; "
                    mat-menu-item  (click)="logout()">Login/Signup
                </button>
                <hr>
                <p style="margin-left: 10px; " >My Orders</p>
                <p style="margin-left: 10px;" routerLink="/dashboard/wishlist">Wishlist</p>
            </mat-menu>
            <div class="icons">
                <span><img class="iconImage" matBadge="15" src="../../../assets/cart.png" routerLink="/dashboard/cart"></span>
                <p style="margin-left: 20px; margin-top: -12px;">Cart</p>
            </div>
        </div>
    </mat-toolbar>
</div>