.footer {
    width: 100%;
    background-color: #2E1D1E;
    height: 50px;
    display: flex;
    align-content: center;
    
  }
  
  .footer h4{
    margin-left: 125px;
    margin-top: 15px;
    color: white;
  }
 