<div class="main-div">
    <div class="bookHead">
        <p class="home" routerLink="/dashboard/displaybook">Home / </p>
        <p style="color: black; font-weight: 500;">My cart</p>
    </div>

    <div class="booksOuterDiv">
        <div class="cart-detail">
            <span style="color: black; font-weight: 500;">My Cart ({{cartitems.length}})</span>
            <select class="dropdown-select">
                <option value="">Use current location</option>
                <option value="location-1">Location</option>
            </select>
        </div>
        <div class="bookDetail" *ngFor="let item of cartitems">
            <div class="bookInfo">
                <div class="image">
                    <img style="width: 44px;  height: 54px;" src="../../../assets/pic-1.png">
                </div>
                <div class="bookData">
                    <span class="bookName">{{item.product_id.bookName}}</span>
                    <span class="authorName">{{item.product_id.author}}</span>
                    <div>
                        <span class="discountPrice">Rs.{{item.product_id.discountPrice}}</span>
                        <span class="originalPrice">Rs. {{item.product_id.price}}</span>
                    </div>
                    <div class="buttons">
                        <div class="plus-minus">
                            <button>+</button>
                            <span class="cartQty">1</span>
                            <button>-</button>
                        </div>
                        <button mat-stroked-button class="remove" (click)="removeBook(item)"> Remove</button>
                    </div>
                </div>
            </div>
            <div class="blueButton">
                <button id="btn" mat-flat-button>Place Order</button>
            </div>
        </div>
    </div>
    <div class="address">
        <div class="editAddress">
            <span>Address Details</span>
        </div>
    </div>
    <div class="order-summary">
        <div>
            <span class="order">OrderSummary</span>
        </div>
    </div>